.root * {
    -fx-font-family: "Fira Sans Light";
    
	-color-primary-1: #272727;
	-color-primary-2: #555555;
	-color-primary-3: #747474;
	-color-secondary-1: #14A76C;
	-color-secondary-2: #FF652F;
	-color-secondary-3: #FFE400;
}

.tab-pane {
    -fx-tab-min-height: 80px;
    -fx-tab-max-height: 80px;
    -fx-tab-min-width: 80px;
    -fx-tab-max-width: 80px;
}

.tab *.tab-label {
    -fx-font-size: 13px;
    -fx-rotate: 90;
    -fx-content-display: top;
    -fx-text-fill: -color-primary-3;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: -color-secondary-1;
} 

#tab-pane-wrapper {
    -fx-background-color: -color-primary-1;
} 

.viewport {
    -fx-background-color: -color-primary-1;
}

.tab .tab-label {
    -fx-alignment: center;
}

.tab {
	-fx-pref-width: 80px;
	-fx-pref-height: 100px;
    -fx-background-color: -fx-background;
    -fx-background: -color-primary-1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -color-secondary-1;
}

.tab:focused{
  -fx-focus-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {    
    -fx-padding: 0px;
}

.tab-pane > .tab-header-area > .headers-region > .tab {    
    -fx-padding: 0px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -color-primary-1;
}

#tab-icon {
   -fx-rotate: 0;   
}

#section {
    -fx-font-size: 32px;
    -fx-text-fill: -color-secondary-1;
}

#section-description {
    -fx-font-size: 12px;
    -fx-text-fill: -color-primary-3;
}

.jfx-button {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill: -color-primary-1;
	-jfx-disable-visual-focus: true;
}

#load-session-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: -color-primary-3;
    -fx-graphic: url("../img/arrow-up.png");
}

#save-session-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: -color-primary-3;
    -fx-graphic: url("../img/arrow-down.png");
}

.separator *.line {
	-fx-border-color: -color-primary-2;
	-fx-border-width: 0 0 1 0;
	-fx-height: 1px;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : -color-primary-1;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : -color-primary-3;
    -fx-background-insets : 4.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:selected,
.scroll-bar:vertical .thumb:selected {
    -fx-background-color : -color-primary-2;
    -fx-background-insets : 4.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.table-view{
   -fx-background-color: -color-primary-1;
}

.table-view .column-header-background{
    -fx-background-color: -color-primary-1;
}

.table-view .column-header-background .label{
    -fx-background-color: -color-primary-1;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: -color-primary-1;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-weight: bold;
	-fx-alignment: CENTER;
}

.table-row-cell{
	-fx-border-width: 0 0 0 0;
	-fx-cell-size: 40px;
	-fx-padding: 10px 0px;
	-fx-border-radius: 10px;
}

.table-column {
	-fx-border-width: 0;
}

.table-column .label {
	-fx-alignment: CENTER;
	-fx-padding: 10px 0px;
}

.table-row-cell:even{
    -fx-background-color: -color-primary-1;
    -fx-background-radius: 6;
}

.table-row-cell:odd{
    -fx-background-color: -color-primary-2;
    -fx-background-radius: 6;
}

.table-row-cell:selected {
   -fx-background-color: -color-secondary-2;
   -fx-background-radius: 6;
}

.table-view *.filler{
	-fx-border-width: 0;
}

.table-view .filler{
    -fx-background-color: -color-primary-1;
}

.table-row-cell .cell .text-field{
    -fx-background-color: -color-secondary-2;
    -fx-alignment: center;
}

.list-view, .list-cell {
	-fx-background-color: -color-primary-1;
	-fx-text-fill: white;
}

.text-field {
	-fx-text-fill: white;
}

